<div class="jumbotron">
  <h1 class="display-4">Witaj na WallPin!</h1>
  <p class="lead">Wrzucaj Piny na Wall'a</p>
  <hr class="my-4">
  <p>Tutaj możesz to zrobić</p>
  <%= link_to 'Dodaj', root_path, class: "btn btn-secondary btn-lg "%>
</div>